$theme-color: #0055ff;
$theme-color-low-opacity: #0055ff44;
$public-font: "Poppins";
$color_1: #23262b;
$color_2: #1d1e24;
$color_3: #2e2f36;
$color_4: #33363d;
$tablet-size: 1350px;
$mini-tablet-size: 1100px;
$mobile-size: 700px;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}
body {
    color: #fff;
    background-color: $color_2;
    font-family: $public-font;
}
a {
    color: $theme-color;
}
.text-type {
    user-select: text;
}
.text {
    margin-top: 10px;
    color: rgb(148, 148, 148);
    line-height: 30px;
}
.link {
    text-decoration: none;
    .icon {
        position: relative;
        top: 2.5px;
        margin-left: 3px;
        margin-top: 10px;
        display: inline-block;
        transition: 0.3s ease;
    }
}
.link:hover {
    .icon {
        padding-left: 4px;
    }
}
.header {
    font-size: 23px;
    margin: 5px 0;
}
.header-with-border {
    position: relative;
    padding-bottom: 7px;
}
.header-with-border::after {
    position: absolute;
    display: block;
    content: "";
    bottom: 0%;
    width: 40px;
    left: 15px;
    height: 3px;
    background: $theme-color;
    box-shadow: 0px 0px 2px $theme-color;
    border-radius: 50px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    z-index: 1;
}
.header-with-border::before {
    position: absolute;
    display: block;
    content: "";
    bottom: 0;
    width: 15px;
    height: 3px;
    background: rgb(255, 136, 0);
    box-shadow: 0px 0px 5px rgb(255, 136, 0);
    z-index: 2px;
    border-radius: 50px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.header-sm {
    font-size: 13px;
    color: #777;
    font-weight: 400;
    letter-spacing: 1px;
}
.span {
    color: #fff;
    font-size: 16px;
}
.span-sm {
    font-size: 14px;
}
.row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    .col {
        width: 100%;
    }
}
.image_header {
    position: relative;
    width: 100%;
    height: 315px;
    top: 0;
    left: 0;
    right: 0;
    background: url("../images/image_header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.main_content {
    position: absolute;
    z-index: 20;
    left: 50%;
    transform: translate(-50%);
    width: 1200px;
    top: 230px;
    @media (max-width: $tablet-size) {
        width: 1000px;
    }
    @media (max-width: $mini-tablet-size) {
        width: 90%;
    }
    padding-bottom: 90px;
}
.box {
    width: 100%;
    background: $color_1;
    border-radius: 20px;
    padding: 20px;
    box-shadow: -4px 8px 24px rgb(0 0 0 / 7%);
}
.top-section {
    height: 190px;
    #profile_photo {
        position: relative;
        top: -55px;
        $size: 170px;
        width: $size;
        height: $size;
        background-color: $color_1;
        display: inline-block;
        border-radius: 2.3rem;
        border: 4px solid $color_2;
        background: url("../images/profile-photo.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        @media (max-width: $mini-tablet-size) {
            top: -80px;
            left: 50%;
            transform: translate(-50%);
        }
    }
    #profile_details {
        position: relative;
        top: -90px;
        margin-left: 20px;
        display: inline-block;
        #profile_name {
            font-size: 23px;
            font-weight: 500;
        }
        #profile_subname {
            font-size: 14px;
            font-weight: 300;
            color: #ddd;
        }
        #social_media_section {
            margin-top: 10px;
            .social_media_item {
                cursor: pointer;
                color: #ddd;
                padding: 3px 5px;
                transition: all 0.3s;
            }
            .social_media_item:hover {
                color: #fff;
            }
            .social_media_item:first-child {
                padding-left: 0;
            }
        }
        @media (max-width: $mini-tablet-size) {
            top: -60px;
            width: 100%;
            text-align: center;
            left: 50%;
            transform: translate(-50%);
            margin: 0;
        }
    }
    .vertical-separator {
        position: relative;
        top: -18px;
        width: 1px;
        height: 150px;
        margin-left: 120px;
        background-color: rgb(65, 65, 65);
        display: inline-block;
        @media (max-width: $tablet-size) {
            margin-left: 40px;
        }
        @media (max-width: $mini-tablet-size) {
            top: -35px;
            left: 50%;
            transform: translate(-50%);
            display: block;
            width: 98%;
            height: 1px;
            margin-left: 0;
        }
    }
    #other_info {
        position: relative;
        top: -60px;
        height: 165px;
        margin-left: 30px;
        padding: 0px 20px;
        width: 610px;
        display: inline-block;
        .row {
            height: 90px;
            .col:last-child {
                padding-left: 30px;
                @media (max-width: $mini-tablet-size) {
                    padding-left: 0;
                }
            }
            @media (max-width: $mobile-size) {
                display: block;
            }
        }
        @media (max-width: $tablet-size) {
            width: 490px;
        }
        @media (max-width: $mini-tablet-size) {
            width: 100%;
            top: -30px;
            margin: 0;
        }
        @media (max-width: $mobile-size) {
            top: -10px;
        }
        @media (max-width: $mobile-size) {
            margin: 0;
            padding: 0;
        }
    }
    @media (max-width: $mini-tablet-size) {
        height: 450px;
    }
    @media (max-width: $mobile-size) {
        height: 480px;
    }
}
#header-left {
    position: absolute;
    top: 210px;
    width: 130px;
    min-height: 130px;
    margin-bottom: 50px;
    .header-item {
        color: #ddd;
        background-color: $color_3;
        width: 100%;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 30px;
        margin: 15px 0;
        border-radius: 1.25rem;
        transition: background 0.3s ease;
        @media (max-width: $mini-tablet-size) {
            height: 60px;
            font-size: 23px;
        }
    }
    .header-item:first-child {
        margin-top: 0;
    }
    .header-item:last-child {
        margin-bottom: 0;
    }
    .active {
        background-color: $theme-color;
    }
    @media (max-width: $mini-tablet-size) {
        top: 470px;
        width: 100px;
    }
    @media (max-width: $mobile-size) {
        display: none;
    }
}
#mobile-navbar {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 60;
    width: 100%;
    height: 60px;
    background-color: $color_1;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    .header-item {
        position: relative;
        color: #ddd;
        font-size: 25px;
        padding: 0 20px;
        padding-top: 17px;
        margin: 0 5px;
        height: 100%;
        cursor: pointer;
    }
    .header-item::after {
        transition: 0.3s ease;
        position: absolute;
        display: block;
        content: "";
        right: 0;
        left: 0;
        width: 100%;
        bottom: -7px;
        height: 5px;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        background: $theme-color;
        transition-delay: 0.1s;
    }
    .active::after {
        bottom: 0;
    }
    @media (max-width: $mobile-size) {
        display: flex;
    }
}
#content_box {
    position: relative;
    margin-top: 20px;
    --space: 25px;
    left: calc(130px + var(--space));
    width: calc(100% - 130px - var(--space));
    @media (max-width: $mini-tablet-size) {
        --space: 25px;
        left: calc(100px + var(--space));
        width: calc(100% - 100px - var(--space));
    }
    @media (max-width: $mobile-size) {
        width: 100%;
        left: 0;
    }
}

.case-item {
    width: 100%;
    border: 2px solid $color_4;
    border-radius: 20px;
    margin: 10px;
    padding: 20px 10px;
    text-align: center;
    .case-item-icon {
        color: $theme-color;
        font-size: 50px;
    }
    .case-item-header {
        font-size: 19px;
        color: #fff;
    }
}
.case-item:first-child {
    margin-left: 0;
}
.case-item:last-child {
    margin-right: 0;
}
.row-to-column-mb {
    @media (max-width: $mobile-size) {
        .row {
            display: block;
            margin: 0;
            .case-item {
                margin: 10px 0;
            }
        }
    }
}
.timeline {
    margin-top: 20px;
    .item {
        position: relative;
        padding-left: 25px;
        margin-left: 5px;
        border-left: 1px solid $color_4;
        padding-bottom: 20px;
        display: block;
        .header {
            position: relative;
            top: -10px;
            font-size: 15px;
            font-weight: 500;
        }
        .header-sm {
            position: relative;
            top: -23px;
            font-size: 10px;
        }
    }
    .item:before {
        position: absolute;
        left: -5px;
        top: -3px;
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        background-color: $theme-color;
        border-radius: 50px;
        box-shadow: 0px 0px 0px 0.2rem $theme-color-low-opacity;
    }
    .item:last-child {
        border: none;
    }
}
.progress {
    position: relative;
    width: 100%;
    height: 30px;
    background: $color_4;
    border-radius: 50px;
    overflow: hidden;
    margin: 10px 0;
    .progress-bar {
        position: relative;
        width: 100%;
        height: 100%;
        background: $theme-color;
        display: flex;
        align-items: center;
        border-radius: 50px;
        .progress-bar-label {
            position: absolute;
            left: 13px;
            color: #fff;
            font-size: 11px;
        }
        .progress-bar-value {
            position: absolute;
            right: 13px;
            color: #fff;
            font-size: 11px;
        }
    }
}
.grid-container {
    width: 100%;
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    grid-column-gap: 20px;
    @media (max-width: $mini-tablet-size) {
        grid-template-columns: 100%;
        grid-column-gap: 0px;
    }
}
.image-box {
    width: 100%;
    text-decoration: none;
    .image-box-image {
        cursor: pointer;
        overflow: hidden;
        width: 100%;
        min-height: 200px;
        max-height: 220px;
        border-radius: 20px;
        background: $color_2;
        img {
            width: 100%;
            min-height: 230px;
            max-height: 300px;
            transition: 0.3s ease;
            opacity: 0;
            border-radius: 20px;
        }
        img.loaded {
            opacity: 1;
        }
    }
    .image-box-image:hover img {
        transform: scale(1.2);
    }
    .header-sm {
        color: #fff;
        margin-top: 10px;
        font-weight: 500;
        text-decoration: none;
    }
}
